/* @override http://sandbox/xray/media/plg_xray/xray.css */

#xray {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 100%;
	height: 27px;
	overflow: hidden;
	background: #cdcdcd url(xray-bg.png) top left repeat-x;
	font: bold 10px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #6e6e6e;
	line-height: 28px;
	padding-left: 40px;
	cursor: default;
}

#xray-wrapper {
	border: 2px solid red !important;
	overflow: hidden !important;
	position: absolute;	
	z-index: 99999998;
	display: none;
}

#xray-switch {
	position: absolute;
	top: 0;
	left: 5px;
	color: silver;
	font-weight: normal;
}

#xray-switch.on {
	text-shadow: #00b8ff 0 0 2px;
	color: #6e6e6e;
	font-weight: bold;
}

#xray ul {
	margin: 0;
	padding: 0;
}
#xray li {
	float: left;
	margin: 0;
	padding: 0 5px 0 15px;
	background: transparent url(xray-spacer-bg.png) top left no-repeat;
	list-style: none;
}


#xray li:first-child {
	background-image: none;
}

#xray li.current span {
	display: block;
}

#xray li.current {
	background: transparent url(xray-mid-bg.png);
	color: #fff;
	padding: 0;
}

#xray li.current > span {
	background: transparent url(xray-back-bg.png) top left no-repeat;
}

#xray li.current > span > span{
	background: transparent url(xray-front-bg.png) top right no-repeat;
	padding: 0 20px;
}